@font-face {
    font-family: 'Lobster', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
}

.head {
    background: #ECF2FF;
    /* border-bottom: 2px solid black; */
}

.header-text {
    font-family: 'Roboto Slab', serif;
    color: #00147B;
    font-weight: bold;
    font-size: 23px;
}

.address {
    font-family: 'Roboto Slab';
    font-size: 13px;
}
